/*

    页面分辨率 3840*1080

*/

@font-face {
  font-family: "DIN Condensed";
  src: url("../fonts/DINCondensed-Bold.woff2") format("woff2"),
    url("../fonts/DINCondensed-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

.bignum {
  font-family: "DIN Condensed";
  font-size: 22px;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
}

::-webkit-scrollbar {
  display: none;
}

.full {
  position: relative;
  width: 3840px;
  height: 1080px;
  background: url("../images/bg2.png") no-repeat center / 100% 100%;
}

/* 地图 */

.full .map {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/* 头部标题 */

.full .head {
  position: absolute;
  width: 100%;
  height: 137px;
  background: url("../images/head.png") no-repeat center / 100% 100%;
}

.full .head .title {
  position: absolute;
  left: 50%;
  top: 26px;
  transform: translateX(-50%);
  font-size: 50px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  color: #fefefe;
  /* text-shadow: 3px 5px 5px rgba(10, 19, 41, 0.42); */
  background: linear-gradient(0deg, #ffffff 0%, #04f3e5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.full .head .weather {
  position: absolute;
  font-size: 28px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  color: #cdd6ec;
  left: 48px;
  bottom: 25px;
}

.full .head .slogon {
  width: 368px;
  height: 91px;
  position: absolute;
  left: 14%;
  bottom: 34px;
}

.full .head .time {
  position: absolute;
  font-size: 28px;
  font-weight: bold;
  color: #cdd6ec;
  right: 68px;
  bottom: 36px;
}

/* 左侧面板区 */

.panel-title {
  font-size: 40px;
  font-weight: bold;
  color: #ffffff;
  background: linear-gradient(0deg, #ffffff 0%, #04f3e5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.panel-title img {
  width: 46px;
  height: 48px;
  vertical-align: middle;
}

.full .left {
  position: absolute;
  left: 20px;
  top: 137px;
  bottom: 10px;
}

.left .command-center {
  position: absolute;
  width: 617px;
  height: 257px;
  background: url("../images/command-center.png") no-repeat center bottom / 100%;
}

.left .command-center .content {
  width: 100%;
  height: 204px;
  box-sizing: border-box;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.left .command-center .content .item {
  box-sizing: border-box;
  padding-left: 85px;
}

.left .command-center .content .item:first-child {
  background: url("../images/tang.png") no-repeat left center / 83px;
}
.left .command-center .content .item:nth-child(2) {
  background: url("../images/xu.png") no-repeat left center / 83px;
}
.left .command-center .content .item:nth-child(3) {
  background: url("../images/jin.png") no-repeat left center / 83px;
}

.left .command-center .content .item .title {
  font-size: 22px;
  font-weight: 400;
  color: #cdd6ec;
}

.left .command-center .content .item .pos {
  font-size: 22px;
  font-weight: 400;
  color: #cdd6ec;
}

.left .command-center .content .item .name {
  font-size: 28px;
  font-weight: bold;
  color: #0deed7;
}

.left .source {
  position: absolute;
  background: url("../images/source.png") no-repeat center bottom / 100%;
  bottom: 0;
  width: 616px;
  height: 668px;
}

.left .source .areas {
  width: 98%;
  margin: 0 auto;
  height: 180px;
  padding: 2px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 2px dashed #00caff;
}

.left .source .areas .item {
  padding-left: 72px;
}

.left .source .areas .item .name {
  font-size: 24px;
  font-weight: 400;
  color: #cdd6ec;
}

.left .source .areas .item .name .unit {
  font-size: 16px;
}

.left .source .areas .item .nums {
  font-size: 48px;
  font-family: "DIN Condensed";
  font-weight: bold;
  color: #00caff;
}

.left .source .areas .item:nth-child(1) {
  background: url("../images/resident.png") no-repeat left center / 67px;
}

.left .source .areas .item:nth-child(2) {
  background: url("../images/company.png") no-repeat left center / 67px;
}

.left .source .areas .item:nth-child(3) {
  background: url("../images/shop.png") no-repeat left center / 67px;
}

.left .source .ranks {
  height: 200px;
  position: relative;
  box-sizing: border-box;
  padding-top: 32px;
  margin-top: 30px;
}

.left .source .ranks .content {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  box-sizing: border-box;
  justify-content: space-around;
}

.left .source .ranks .title {
  position: absolute;
  top: 0;
  left: 14px;
  font-size: 24px;
  padding-left: 24px;
  font-weight: bold;
  color: #ffffff;
  background: url("../images/sub-title.png") no-repeat left center;
}
.left .source .ranks .item {
  font-size: 26px;
  font-weight: 400;
  color: #cdd6ec;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 24px;
}

.left .source .ranks .item .no {
  font-size: 36px;
  font-family: "DIN Condensed";
  font-weight: bold;
  color: #fff;
  width: 27px;
  margin-right: 4px;
  text-align: center;
  background: url("../images/rank.png") no-repeat center bottom 4px / 27px 10px;
}

.left .source .sampling {
  height: 200px;
  position: relative;
  box-sizing: border-box;
  padding-top: 32px;
}

.left .source .sampling .title {
  position: absolute;
  top: 0;
  left: 14px;
  font-size: 24px;
  padding-left: 24px;
  font-weight: bold;
  color: #ffffff;
  background: url("../images/sub-title.png") no-repeat left center;
}

.left .source .sampling .sub-title {
  font-size: 22px;
  color: #cdd6ec;
  position: absolute;
  right: 10px;
  top: 0;
}

.left .source .cate {
  display: flex;
  font-size: 26px;
  color: #cdd6ec;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 6px;
}

.left .source .cate .name {
  width: 150px;
}

.left .source .cate .bar {
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: #253c70;
  position: relative;
}
.left .source .cate .bar .cover {
  position: absolute;
  height: 100%;
  border-radius: 5px;
  background: #00caff;
}
.left .source .cate .percent {
  width: 55px;
  font-size: 48px;
  font-family: "DIN Condensed";
  font-weight: bold;
  color: #f5c025;
}

.left .source .update-time {
  font-size: 22px;
  font-weight: 400;
  color: #cdd6ec;
  position: absolute;
  right: 10px;
  bottom: 2px;
}

/* 生活垃圾 */

.left .household-waste {
  position: absolute;
  width: 617px;
  height: 720px;
  left: 640px;
  background: url("../images/household-waste.png") no-repeat center bottom /
    100%;
}

.left .household-waste .tabs {
  width: 590px;
  height: 50px;
  margin: 0 auto;
  border: 1px solid #9cd1ff;
  border-radius: 2px;
  margin-top: 24px;
  display: flex;
}

.left .household-waste .tabs .tb {
  flex: 1;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.left .household-waste .tabs .tb.active {
  background: #3281d2;
}

.left .household-waste .tabs .tb img {
  width: 25px;
  vertical-align: middle;
}

.left .household-waste .cars {
  height: 100px;
  overflow: hidden;
  margin-top: 10px;
}

.left .household-waste .cars .scroll {
  display: flex;
  flex-wrap: wrap;
}

.left .household-waste .cars .scroll .item {
  height: 100px;
  display: flex;
  align-items: center;
  width: 33%;
  justify-content: center;
}

.left .household-waste .cars .scroll .item img {
  width: 67px;
  height: 72px;
  margin-right: 4px;
}

.left .household-waste .cars .scroll .item .desc .name {
  font-size: 24px;
  color: #cdd6ec;
}
.left .household-waste .cars .scroll .item .desc .num {
  font-size: 48px;
  font-family: "DIN Condensed";
  font-weight: bold;
  color: #00caff;
}

.left .household-waste .division {
  width: 96%;
  height: 0;
  margin: 0 auto;
  border-bottom: 2px dashed #00caff;
  margin-top: 10px;
}

.left .household-waste .sub-title {
  font-size: 24px;
  padding-left: 24px;
  font-weight: bold;
  color: #ffffff;
  background: url("../images/sub-title.png") no-repeat left center;
  display: inline-block;
  margin-left: 20px;
  margin-top: 20px;
}

.left .household-waste .pictures {
  width: 580px;
  height: 364px;
  margin: 0 auto;
  margin-top: 30px;
  position: relative;
}

.left .household-waste .pictures img {
  width: 100%;
  height: 100%;
}

/* 今日事件 */
.left .today-events {
  position: absolute;
  width: 617px;
  height: 212px;
  left: 640px;
  background: url("../images/today-events.png") no-repeat center bottom / 100%;
  bottom: 0;
}

.left .today-events .content {
  height: 120px;
  padding: 0 18px;
  background: url("../images/today-events2.png") no-repeat left center / auto
    100%;
  background-origin: content-box;
  margin-top: 18px;
}

.left .today-events .content .sub-title {
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 10px;
}

.left .today-events .content .tb-head {
  display: flex;
  flex-wrap: nowrap;
  font-size: 24px;
  color: #cdd6ec;
  height: 40px;
  align-items: center;
}
.left .today-events .content .tb-head span {
  flex: 1;
  text-align: center;
}
.left .today-events .content .tb-head span:nth-child(4) {
  flex: 3;
}
.left .today-events .content .tb-head span:nth-child(5) {
  flex: 1.5;
}

.left .today-events .content .tb-body {
  height: 50px;
  overflow: hidden;
}

.left .today-events .content .tb-row {
  height: 50px;
  line-height: 50px;
  display: flex;
  flex-wrap: nowrap;
  font-size: 24px;
  color: #cdd6ec;
}
.left .today-events .content .tb-row span {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left .today-events .content .tb-row span:nth-child(4) {
  flex: 3;
}
.left .today-events .content .tb-row span:nth-child(5) {
  flex: 1.5;
}

.left .today-events .content .tb-row span:nth-child(-n + 3) {
  font-size: 40px;
  font-family: "DIN Condensed";
  font-weight: bold;
  color: #00caff;
}

/* 地图上的图例 */

.full .legend {
  position: absolute;
  top: 180px;
  left: 1330px;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
}

.full .legend .item {
  height: 47px;
  line-height: 47px;
  width: 202px;
  padding-left: 50px;
  margin-bottom: 10px;
}

.full .legend .item:nth-child(1) {
  background: url("../images/legend-3.png") no-repeat left center / auto 100%;
}
.full .legend .item:nth-child(2) {
  background: url("../images/legend-2.png") no-repeat left center / auto 100%;
}
.full .legend .item:nth-child(3) {
  background: url("../images/legend-1.png") no-repeat left center / auto 100%;
}
.full .legend .item:nth-child(4) {
  background: url("../images/legend-4.png") no-repeat left center / auto 100%;
}

/* 右上角的关闭按钮 */
.full .close {
  width: 32px;
  height: 32px;
  background: url("../images/close.png") no-repeat center / 100%;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 100;
}

/* 右侧的数据面板 */

.full .right {
  position: absolute;
  right: 20px;
  top: 137px;
  bottom: 10px;
}

/* 四分类清运量 */
.full .right .four-cates {
  position: absolute;
  width: 617px;
  height: 348px;
  right: 0;
  top: 0;
  background: url("../images/four-cate.png") no-repeat center bottom / 100%;
}

.full .right .four-cates .content {
  height: 290px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.full .right .four-cates .content .left-part {
  height: 100%;
  width: 250px;
  position: relative;
}
.full .right .four-cates .content .left-part::before {
  position: absolute;
  content: "";
  height: 0;
  width: 147px;
  border-bottom: 1px dashed #00caff;
  left: 55px;
  top: 147px;
}

.full .right .four-cates .content .left-part::after {
  position: absolute;
  content: "";
  width: 0;
  height: 147px;
  border-right: 1px dashed #00caff;
  left: 126px;
  top: 76px;
}

.full .right .four-cates .content .left-part .title {
  font-size: 24px;
  font-weight: bold;
  color: #fefeff;
  display: inline-block;
  background: url("../images/sub-title.png") no-repeat left center / auto 26px;
  padding-left: 15px;
}

.full .right .four-cates .content .left-part .box {
  height: 240px;
  display: flex;
  flex-wrap: wrap;
  line-height: 1;
  align-items: center;
  justify-content: center;
}

.full .right .four-cates .content .left-part .box .item {
  font-size: 22px;
  font-weight: 400;
  color: #cdd6ec;
  width: 45%;
  text-align: center;
}

.full .right .four-cates .content .left-part .box .item img {
  width: 30px;
}
.full .right .four-cates .content .left-part .box .item .num {
  font-size: 48px;
  font-family: "DIN Condensed";
  font-weight: bold;
  color: #f5c025;
}

.full .right .four-cates .content .right-part {
  width: 350px;
}

.full .right .four-cates .content .right-part .title {
  font-size: 24px;
  font-weight: bold;
  color: #fefeff;
  display: inline-block;
  background: url("../images/sub-title.png") no-repeat left center / auto 26px;
  padding-left: 15px;
}

.full .right .four-cates .content .right-part .box {
  height: 240px;
}

/* 趋势分析 */
.full .right .trend-ana {
  position: absolute;
  width: 617px;
  height: 316px;
  right: 0;
  top: 360px;
  background: url("../images/trend-ana.png") no-repeat center bottom / 100%;
}

.full .right .trend-ana .content {
  height: 261px;
  display: flex;
  box-sizing: border-box;
  padding: 2px;
}

.full .right .trend-ana .content .tbs {
  width: 106px;
  font-size: 24px;
  font-weight: bold;
  color: #cdd6ec;
  display: flex;
  flex-direction: column;
}
.full .right .trend-ana .content .tbs span {
  flex: 1;
  text-align: center;
  line-height: 64px;
  box-sizing: border-box;
  border-right: 1px solid #3281d2;
  border-bottom: 1px solid #3281d2;
  cursor: pointer;
  user-select: none;
  background: rgba(50, 129, 210, 0.5);
}

.full .right .trend-ana .content .tbs span.active {
  background-color: #3281d2;
}

.full .right .trend-ana .content .box {
  flex: 1;
}

/* 智能应用 */
.full .right .int-apply {
  position: absolute;
  width: 617px;
  height: 246px;
  right: 0;
  bottom: 0;
  background: url("../images/int-apply.png") no-repeat center bottom / 100%;
}

.full .right .int-apply .content {
  height: 160px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.full .right .int-apply .content .item {
  font-size: 22px;
  color: #cdd6ec;
  flex: 1;
  text-align: center;
}

.full .right .int-apply .content .item img {
  width: 67px;
  height: 72px;
}

.full .right .int-apply .content .item .num {
  font-size: 40px;
  font-family: "DIN Condensed";
  font-weight: bold;
  color: #00caff;
}

.full .right .int-apply .content .item .num span {
  font-size: 20px;
  font-family: "Microsoft YaHei";
  font-weight: 400;
  color: #cdd6ec;
}

/* 末端排放 */
.full .right .end-emission {
  position: absolute;
  width: 617px;
  height: 348px;
  right: 640px;
  top: 0;
  background: url("../images/end-emission.png") no-repeat center bottom / 100%;
}

.full .right .end-emission .elec-sum {
  position: absolute;
  z-index: 100;
  left: 110px;
  top: 0;
  font-size: 20px;
  color: #feffff;
}

.full .right .end-emission .avag-index {
  position: absolute;
  z-index: 100;
  left: 290px;
  bottom: 0;
  font-size: 20px;
  color: #feffff;
}

.full .right .end-emission .avag-index span {
  font-size: 40px;
  font-family: DIN Condensed;
  font-weight: bold;
  color: #00caff;
}

.full .right .end-emission .elec-sum .num {
  font-size: 40px;
  font-family: DIN Condensed;
  font-weight: bold;
  color: #00caff;
}

.full .right .end-emission .switches {
  position: absolute;
  width: 168px;
  height: 34px;
  background: #0e1831;
  border: 1px solid #9cd1ff;
  border-radius: 2px;
  font-size: 20px;
  color: #fefeff;
  display: flex;
  top: 58px;
  right: 10px;
  z-index: 100;
}

.full .right .end-emission .content {
  position: absolute;
  width: 617px;
  height: 293px;
  display: flex;
  box-sizing: border-box;
  padding: 1px;
}

.full .right .end-emission .content .box {
  flex: 1;
}

.full .right .end-emission .content .tbs {
  display: flex;
  flex-direction: column;
}
.full .right .end-emission .content .tbs > span {
  cursor: pointer;
  user-select: none;
  background: rgba(50, 129, 210, 0.5);
}
.full .right .end-emission .content .tbs > span.active {
  background-color: #3281d2;
}

.full .right .end-emission .elec .tbs > span {
  height: 73px;
  width: 106px;
  line-height: 73px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-right: 1px solid #3281d2;
  border-bottom: 1px solid #3281d2;
  box-sizing: border-box;
}

.full .right .end-emission .emiss .tbs > span {
  height: 97px;
  width: 106px;
  line-height: 97px;
  text-align: center;
  font-size: 24px;
  color: #fff;
  border-right: 1px solid #3281d2;
  border-bottom: 1px solid #3281d2;
  box-sizing: border-box;
}

.full .right .end-emission .emiss .tbs > span:last-child {
  color: #00caff;
}

.full .right .end-emission .switches span {
  flex: 1;
  line-height: 34px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.full .right .end-emission .switches span.active {
  background: #3281d2;
}

/* 视频监控 */

.full .right .monitor-video {
  position: absolute;
  width: 617px;
  height: 578px;
  right: 640px;
  bottom: 0;
  background: url("../images/monitor-video.png") no-repeat center bottom / 100%;
}

.full .right .monitor-video .content {
  height: 520px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
}

.full .right .monitor-video .content .item {
  font-size: 24px;
  font-weight: bold;
  color: #fefeff;
  text-align: center;
}

.full .right .monitor-video .content .item .name {
  margin-top: 10px;
  background: url("../images/video-name.png") no-repeat center / auto 35px;
}

.full .right .monitor-video .content .item video {
  width: 284px;
  height: 154px;
  border: 2px solid #00caff;
  border-radius: 2px;
  object-fit: cover;
}
